@import "tailwindcss";

:root {
    color-scheme: light;
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-lora);
    --font-serif: var(--font-lora);
    --font-mono: var(--font-lora);
}

* {
    font-family: var(--font-lora), serif;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-lora), serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
button,
input,
textarea,
select,
label,
div {
    font-family: var(--font-lora), serif;
}
